/* src/App.css */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(221, 221, 221, 0.35);
  color: #111;
}

/* Убираем черный бордер при фокусе на кнопках */
button:focus {
  outline: none !important;
  border: none !important;
}

.ant-btn:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-btn:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #d8d8d8;
  border-bottom: 1px solid #606060;
  width: 90vw;
  margin: 0 auto;         /* по центру */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.signin {
  padding: 0.5rem 1rem;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 5rem;
}

.main-layout {
  display: flex;
  flex: 1;
  padding: 2rem;
  gap: 2rem;
}

.sidebar {
  width: 200px;
}

.content {
  flex: 1;
  background: #d1d1d1;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  min-height: 100vh; /* или хотя бы 400px */
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.post-card {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-weight: bold;
  text-align: center;
}
